@import url(css/font-awesome.min.css);

/* Box Model */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Basic */
body {
    background: #312450;
}

/* Desactivamos animaciones y transiciones con javascript (login.js) hasta que la página cargue */
body.cargando *, body.cargando *:before, body.cargando *:after {
    animation: none !important;
    transition: none !important;
}

/* General */
body, input, select, textarea {
    color: rgba(255, 255, 255, .55);
    font-family: Open Sans, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.75;
}
@media screen and (max-width:1024px) {
    body, input, select, textarea {
        font-size: 16pt;
    }
}
@media screen and (max-width:480px) {
    body, input, select, textarea {
        font-size: 14pt;
    }
}
@media screen and (max-width:480px) {
    html, body {
        min-width: 320px;
    }
}
a {
    transition: color .2s ease, border-bottom-color .2s ease;
    border-bottom: dotted 1px rgba(255, 255, 255, .35);
    color: inherit;
    text-decoration: none;
}
a:hover {
    border-bottom-color: transparent;
    color: #fff;
}
p {
    margin: 0 0 2em;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 .5em;
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    display: inline-block;
    position: relative;
    padding: 0 3.75em;
    transition: border-color .2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, .15) !important;
    border-radius: 3em;
    color: #fff !important;
    cursor: pointer;
    font-size: .6em;
    font-weight: bold;
    letter-spacing: .25em;
    line-height: 4.75em;
    outline: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after, button:after, .button:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    border-radius: 3em;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s ease, transform .2s ease;
    pointer-events: none;
}
input[type="submit"]:hover, .button:hover {
    border-color: rgba(255, 255, 255, .55) !important;
}
input[type="submit"]:hover:after, .button:hover:after {
    opacity: .05;
    transform: scale(1);
}
input[type="submit"]:hover:activo, .button:hover:activo {
    border-color: #fff !important;
}
input[type="submit"]:hover:activo:after, .button:hover:activo:after {
    opacity: .1;
}

/* Wrapper */
.wrapper {
    position: relative;
}
.wrapper > .contenido {
    padding: 5em 5em 3em;
    max-width: 100%;
    width: 75em;
}
@media screen and (max-width:1680px) {
    .wrapper > .contenido {
        padding: 4em 4em 2em;
    }
}
@media screen and (max-width:1280px) {
    .wrapper > .contenido {
        width: 100%;
    }
}
@media screen and (max-width:736px) {
    .wrapper > .contenido {
        padding: 3em 2em 1em;
    }
}
.wrapper.estilo1 {
    background-color: #4f517d;
}
.wrapper.estilo2 {
    background-color: #713754;
}
.wrapper.estilo3 {
    background-color: #5e42a6;
}
.wrapper.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
@media screen and (max-width:1280px) {
    .wrapper.fullscreen {
        min-height: calc(100vh - 2.5em);
    }
}
@media screen and (max-width:736px) {
    .wrapper.fullscreen {
        padding: 2em 0;
        min-height: 0;
    }
}
.wrapper.fade-up > .contenido {
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1.0;
}
.wrapper.fade-up.inactivo > .contenido, body.cargando .wrapper.fade-up > .contenido {
    opacity: 0;
    transform: translateY(1em);
}
.wrapper.fade-down > .contenido {
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1.0;
}
.wrapper.fade-down.inactivo > .contenido, body.cargando .wrapper.fade-down > .contenido {
    opacity: 0;
    transform: translateY(-1em);
}
.wrapper.fade > .contenido {
    transition: opacity 1s ease;
    opacity: 1.0;
}
.wrapper.fade.inactivo > .contenido, body.cargando .wrapper.fade > .contenido {
    opacity: 0;
}

/* Wrapper (main) */
#sidebar + #wrapper {
    margin-left: 18em;
}
@media screen and (max-width:1024px) {
    #sidebar + #wrapper {
        margin-left: 0;
        padding-top: 3.5em;
    }
}
@media screen and (max-width:768px) {
    #sidebar + #wrapper {
        padding-top: 0;
    }
}

/* Footer */
#sidebar + #wrapper + #footer {
    margin-left: 18em;
}
@media screen and (max-width:1024px) {
    #sidebar + #wrapper + #footer {
        margin-left: 0;
    }
}
#footer > .contenido a {
    border-bottom-color: rgba(255, 255, 255, .15);
}
#footer > .contenido a:hover {
    border-bottom-color: transparent;
}
#footer > .contenido .menu {
    font-size: .8em;
    color: rgba(255, 255, 255, .35);
}

/* Sidebar */
#sidebar {
    padding: 2.5em 2.5em .5em;
    background: #312450;
    cursor: default;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 18em;
    z-index: 10000;
}
#sidebar > .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(0);
    transition: opacity 1s ease;
    min-height: 100%;
    opacity: 1;
    width: 100%;
}
#sidebar nav > ul {
    list-style: none;
    padding: 0;
}
#sidebar nav > ul > li {
    transform: translateY(0);
    transition: opacity .15s ease, transform .75s ease;
    margin: 1.5em 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
}
#sidebar nav > ul > li:first-child {
    margin: 0;
}
#sidebar nav > ul > li:nth-child(1) {
    transition-delay: .45s;
}
#sidebar nav > ul > li:nth-child(2) {
    transition-delay: .65s;
}
#sidebar nav > ul > li:nth-child(3) {
    transition-delay: .85s;
}
#sidebar nav > ul > li:nth-child(4) {
    transition-delay: 1.05s;
}
#sidebar nav > ul > li:nth-child(5) {
    transition-delay: 1.25s;
}
#sidebar nav a {
    transition: color .2s ease;
    border: 0;
    color: rgba(255, 255, 255, .35);
    display: block;
    font-size: .6em;
    font-weight: bold;
    letter-spacing: .25em;
    line-height: 1.75;
    outline: 0;
    padding: 1.35em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
#sidebar nav a:before, #sidebar nav a:after {
    border-radius: .2em;
    bottom: 0;
    content: '';
    height: .2em;
    position: absolute;
    right: 0;
    width: 100%;
}
#sidebar nav a:before {
    background: #3c2c62;
}
#sidebar nav a:after {
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    transition: max-width .2s ease;
    max-width: 0;
}
#sidebar nav a:hover {
    color: rgba(255, 255, 255, .55);
}
#sidebar nav a.activo {
    color: #fff;
}
#sidebar nav a.activo:after {
    max-width: 100%;
}
body.cargando #sidebar > .contenido {
    opacity: 0;
}
body.cargando #sidebar nav ul li {
    transform: translateY(2em);
    opacity: 0;
}
@media screen and (max-width:1024px) {
    #sidebar {
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }
    #sidebar > .contenido {
        flex-direction: row;
        align-items: stretch;
        height: inherit;
        line-height: inherit;
    }
    #sidebar nav {
        height: inherit;
        line-height: inherit;
    }
    #sidebar nav ul {
        display: flex;
        height: inherit;
        line-height: inherit;
        margin: 0;
    }
    #sidebar nav ul li {
        display: block;
        height: inherit;
        line-height: inherit;
        margin: 0 0 0 2em;
        padding: 0;
    }
    #sidebar nav a {
        height: inherit;
        line-height: inherit;
        padding: 0;
    }
    #sidebar nav a:after {
        background-image: none;
        background-color: #b74e91;
    }
}
@media screen and (max-width:768px) {
    #sidebar {
        display: none;
    }
}

/* Intro */
#intro {
    background-attachment: fixed;
    background-image: url("images/intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#intro p {
    font-size: 1.25em;
}
@media screen and (max-width:1024px) {
    #intro p br {
        display: none;
    }
}
@media screen and (max-width:768px) {
    #intro p {
        font-size: 1em;
    }
}
@media screen and (max-width:1024px) {
    #intro {
        background-attachment: scroll;
    }
}

/* Features */
.funciones {
    display: flex;
    flex-wrap: wrap;
    border-radius: .25em;
    border: solid 1px rgba(255, 255, 255, .15);
    background: rgba(255, 255, 255, .05);
    margin: 0 0 2em;
}
.funciones section {
    position: relative;
    padding: 3.5em 3em 1em 7em;
    width: 50%;
    border-top: solid 1px rgba(255, 255, 255, .15);
}
.funciones section:nth-child(even) {
    border-left: solid 1px rgba(255, 255, 255, .15);
}
.funciones section .icon {
    position: absolute;
    left: 1.5em;
    top: 2em;
    transform: scale(1);
    opacity: 1;
    transition: opacity .5s ease, transform .5s ease;
    transition-delay: 1s;
}
.funciones section:nth-child(1) .icon {
    transition-delay: .15s;
}
.funciones section:nth-child(2) .icon {
    transition-delay: .3s;
}
.funciones section:nth-child(3) .icon {
    transition-delay: .45s;
}
.funciones section:nth-child(4) .icon {
    transition-delay: .6s;
}
.funciones section:nth-child(5) .icon {
    transition-delay: .75s;
}
.funciones section:nth-child(6) .icon {
    transition-delay: .9s;
}
.funciones.inactivo section .icon {
    transform: scale(.5);
    opacity: 0;
}
@media screen and (max-width:1280px) {
    .funciones section {
        padding: 3em 1em 1em 3em;
    }
    .funciones section .icon {
        left: .5em;
        top: 1em;
        transform: scale(.8);
    }
}
@media screen and (max-width:1024px) {
    .funciones {
        display: block;
    }
    .funciones section {
        border-top-width: 1px !important;
        border-left-width: 0 !important;
        width: 100%;
        left: 1em;
        top: 1em;
        padding: 3.5em 3em 1em 5em;
        transform: scale(1);
    }
    .funciones section:first-child {
        border-top-width: 0 !important;
    }
}
@media screen and (max-width:768px) {
    .funciones section {
        padding: 2.5em 1.5em .1em 5.5em;
    }
    .funciones section .icon {
        left: 1.5em;
        top: 2em;
    }
}
@media screen and (max-width:480px) {
    .funciones section {
        padding: 2em 1.5em .1em;
    }
    .funciones section .icon {
        position: relative;
        left: 0;
        top: 0;
    }
}

/* Formulario */
form {
    margin: 0 0 2em;
}
form .field {
    margin: 0 0 1em;
}
form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 .75em;
}
form .field.half.first {
    padding: 0 .75em 0 0;
}
form > .actions {
    margin: 2em 0 0 !important;
}
@media screen and (max-width:768px) {
    form .field.half {
        float: none;
        width: 100%;
        padding: 0;
    }
    form .field.half.first {
        padding: 0;
    }
}
label {
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 .7em;
    display: block;
    font-size: 1.1em;
}
input[type="text"], input[type="password"], input[type="email"] {
    appearance: none;
    width: 100%;
    background: rgba(255, 255, 255, .05);
    border: solid 1px rgba(255, 255, 255, .15);
    border-radius: .35em;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    height: 2.75em;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #fff;
    box-shadow: 0 0 0 1px #fff;
}
input.ui-state-error {
    border-left: 2px solid #ef5350;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
}
.ui-messages-error, .ui-message-error,
.ui-messages-info, .ui-message-info,
.ui-messages-warn, .ui-message-warn,
.ui-messages-fatal, .ui-message-fatal {
    font-family: 'Play', sans-serif;
    font-size: 15px;
    color: #b94a48;
    background-color: #f2dede;
    border-radius: 2px;
    margin: 5px;
    padding: 3px 8px 3px;
}

.ui-message-info-icon, 
.ui-message-warn-icon, 
.ui-message-error-icon, 
.ui-message-fatal-icon {
    background-position: 0px -91px;
    height: 22px;
    width: 18px;
}
.ui-messages-info-icon, 
.ui-messages-warn-icon, 
.ui-messages-error-icon, 
.ui-messages-fatal-icon {
    height: 24px;
    width: 24px;
    margin-top: 0px;
}

/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.icon > .label {
    display: none;
}
.icon.major {
    width: 2.5em;
    height: 2.5em;
    display: block;
    background: #fff;
    border-radius: 100%;
    color: #312450;
    text-align: center;
    line-height: 2.5em;
    margin: 0 0 1.3em;
}
.icon.major:before {
    font-size: 1.25em;
}
.wrapper.estilo2 .icon.major:before {
    color: #953d75;
}

/* Image */
.image {
    border-radius: .25em;
    border: 0;
    display: inline-block;
    position: relative;
}
.image img {
    border-radius: .25em;
    display: block;
}
.image.left, .image.right {
    max-width: 40%;
}
.image.left img, .image.right img {
    width: 100%;
}
.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: .25em;
}
.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: .25em;
}
.image.fit {
    display: block;
    margin: 0 0 2em;
    width: 100%;
}
.image.fit img {
    width: 100%;
}
.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}
.image.main img {
    width: 100%;
}

/* Listas */
ul {
    list-style: disc;
    margin: 0 0 2em;
    padding-left: 1em;
}
ul li {
    padding-left: .5em;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 .75em 0 0;
}
ul.icons li:last-child {
    padding-right: 0;
}
ul.icons li > a, ul.icons li > span {
    border: 0;
    text-decoration: none;
}
ul.icons li > a:before, ul.icons li > span:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
ul.icons li > a .label, ul.icons li > span .label {
    display: none;
}
ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    clear: both;
}
ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}
ul.actions li:last-child {
    padding-right: 0;
}
@media screen and (max-width:480px) {
    ul.actions {
        margin: 0 0 2em;
    }
    ul.actions li {
        padding: 1em 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul.actions li > a {
        width: 100%;
    }
    ul.actions li .button {
        padding: 0;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
}
ul.contact {
    list-style: none;
    padding: 0;
}
ul.contact > li {
    padding: 0;
    margin: 1.5em 0 0;
}
ul.contact > li:first-child {
    margin-top: 0;
}
ul.menu {
    list-style: none;
    padding: 0;
}
ul.menu > li {
    border-left: solid 1px rgba(255, 255, 255, .15);
    display: inline-block;
    line-height: 1;
    margin-left: 1.5em;
    padding: 0 0 0 1.5em;
}
ul.menu > li:first-child {
    border-left: 0;
    margin: 0;
    padding-left: 0;
}
@media screen and (max-width:480px) {
    ul.menu > li {
        border-left: 0;
        display: block;
        line-height: inherit;
        margin: .5em 0 0;
        padding-left: 0;
    }
}

/* Split */
.split {
    display: flex; 
}
.split > * {
    width: calc(50% - 2.5em);
}
.split >:nth-child(2n - 1) {
    padding-right: 2.5em;
    border-right: solid 1px rgba(255, 255, 255, .15);
}
.split >:nth-child(2n) {
    padding-left: 2.5em;
}
.split.estilo1 >:nth-child(2n - 1) {
    width: calc(66.66666% - 2.5em);
}
.split.estilo1 >:nth-child(2n) {
    width: calc(33.33333% - 2.5em);
}
@media screen and (max-width:1680px) {
    .split > * {
        width: calc(50% - 2em);
    }
    .split >:nth-child(2n - 1) {
        padding-right: 2em;
    }
    .split >:nth-child(2n) {
        padding-left: 2em;
    }
    .split.estilo1 >:nth-child(2n - 1) {
        width: calc(76.66666% - 2em);
    }
    .split.estilo1 >:nth-child(2n) {
        width: calc(23.33333% - 2em);
    }
}
@media screen and (max-width:980px) {
    .split {
        display: block;
    }
    .split > * {
        border-top: solid 1px rgba(255, 255, 255, .15);
        margin: 4em 0 0;
        padding: 4em 0 0;
        width: 100% !important;
    }
    .split >:nth-child(2n - 1) {
        border-right: 0;
        padding-right: 0;
    }
    .split >:nth-child(2n) {
        padding-left: 0;
    }
    .split >:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }
    .split.estilo1 >:nth-child(2n - 1) {
        width: 100%;
    }
    .split.estilo1 >:nth-child(2n) {
        width: 100%;
    }
}
@media screen and (max-width:736px) {
    .split > * {
        margin: 3em 0 0;
        padding: 3em 0 0;
    }
}

/* Tabs (Pestañas Login / Sign Up) */

.resp-tab-content {
    border: none;
    border-top-color: transparent;
}

.resp-tabs-container {
    background-color: transparent;
}

.resp-tab-active {
    background-color: transparent;
    border: none !important; /* Para contrarestar el !important de las pestañas de Login/Sign Up en easy-responsive-tabs.css */
    color: #fff;
}

